.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-size: cover;
}
.action img {border-radius: 12px;
  width: 300px;
  height: 200px;
}


.banner {
  text-align: center;
  padding: 100px 20px;
}
.action {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}